    @font-face {
      font-family: 'minecraft';
      src: url('fonts/minecraft.ttf') format('truetype');
    }
    

    @media (max-width: 768px) {
      body {
        font-size: 16px;
        padding: 10px;
      }
      header nav a {
        display: block;
        margin: 10px 0
      }
      .container {
        width: 100%;
        padding: 10px;
      }
    }
    
    body {
      font-family: 'minecraft', sans-serif;
      margin: 0;
      background-color: #0d1117;
      color: #c9d1d9;
      font-size: 12px;
    }
    header { 
      text-align: center;
      background-image: url('sito.png');
      background-size: cover;
      background-position: center;
      padding: 1rem; 
      border-bottom: 1px solid #30363d; 
    }

    nav {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-top: 1rem;
    }
    nav a {
      color: #ffa500;
      text-decoration: none;
      display: inline-block;
      transition: transform 0.2s ease;
    }
    nav a:hover {
      transform: scale(1.40);
    }
    .strumenti-utili a {
      color: #ffa500;
      text-decoration: none;
      display: inline-block;
      transition: transform 0.2s ease;
    }
    .strumenti-utili a:hover {
      transform: scale(1.05);
    }
    .guide a {
      color: #ffa500;
      text-decoration: none;
      display: inline-block;
      transition: transform 0.2s ease;
    }
    .guide a:hover {
      transform: scale(1.05);
    }
    .content {
      padding: 2rem;
    }
    .section {
      margin-bottom: 2rem;
    }
    footer {
      background-color: #161b22;
      text-align: center;
      padding: 1rem;
      border-top: 1px solid #30363d;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
    .crediti a:link{
      color: #ffa500;
      text-decoration: none;
      display: inline-block;
      transition: transform 0.2s ease;
    }
    .crediti a:link:hover {
      transform: scale(1.05);
    }